.timetable-container {
  padding: 20px;
  max-width: 1000px;
  margin: 0 auto;
}

.timetable table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.timetable th,
.timetable td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
  height: 15px;
}

.timetable th {
  background-color: #f4f4f4;
}

.timetable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.back-button {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #282c34;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.back-button:hover {
  background-color: #373b44;
} 

.edit-button {
  margin-top: 10px;
  padding: 5px 10px;
  background: #282c34;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input, textarea {
  -moz-user-select: auto;
  -webkit-user-select: auto;
  -ms-user-select: auto;
  user-select: auto;
  -webkit-touch-callout: default;
}